
body{
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A6663E),
        color-stop(0.8, #451A00)
        );
    background-image: -o-linear-gradient(bottom, #A6663E 0%, #451A00 80%);
    background-image: -moz-linear-gradient(bottom, #A6663E 0%, #451A00 80%);
    background-image: -webkit-linear-gradient(bottom, #A6663E 0%, #451A00 80%);
    background-image: -ms-linear-gradient(bottom, #A6663E 0%, #451A00 80%);
    background-image: linear-gradient(to bottom, #A6663E 0%, #451A00 80%);
    
    
}
a:hover
{
    cursor: pointer;
}

#wrapper
{
    width: 1044px;
    margin: 0 auto;
    padding: 0 20px;
    background: white;
}

#header
{
    min-height: 100px;
    padding: 30px 0;
    margin-bottom: 1px;

}
#navigation
{
    background: #c17882;
    padding: 10px 0;
    border-radius: 10px;
    position: relative;
}
#navigation ul
{
    text-align: center;
    list-style: none;
    margin: 0;

}
#navigation ul li
{
    display: inline-block;
    margin: 0 20px;
    position: relative;
    line-height: 1px;
}
#navigation ul li a
{
    font-weight: bold;
    color: white;
}


#main
{
    min-height: 600px;
}


#footer{
    min-height: 150px;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.23, #66402D),
        color-stop(1, #482D20)
        );
    background-image: -o-linear-gradient(bottom, #66402D 23%, #482D20 100%);
    background-image: -moz-linear-gradient(bottom, #66402D 23%, #482D20 100%);
    background-image: -webkit-linear-gradient(bottom, #66402D 23%, #482D20 100%);
    background-image: -ms-linear-gradient(bottom, #66402D 23%, #482D20 100%);
    background-image: linear-gradient(to bottom, #66402D 23%, #482D20 100%);
}
.flexslider
{
    border: none;
    box-shadow: none;
}
#main
{
    padding: 10px 0;
    padding-bottom: 100px;
}

.box-login
{

}
.box-login .title label
{
    font-size: 12px;
}
.box-login .form-login label
{
    font-size: 10px;
    vertical-align: text-bottom;
    height: 12px;
    margin-top: 5px;
}
.box-login input
{
    width: 100%;
}

.box-login
{
    padding:10px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
}
.box-login hr
{

    margin-top: 10px;
}
.form-login .row
{
    padding-bottom: 10px;
}

.user-profile
{
    padding: 20px 10px;
    background: #d7d7d7;
    border-radius: 10px;
}

.user-profile .profile-img
{
    width: 125px;
    margin: 0 auto;
}

.user-profile .profile-img img
{
    width: 100%;
}
.user-profile .profile-content
{
    padding: 20px 0;
}
.tab-content
{
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 25px 20px;
    border-radius: 2px;
}
.all-post-img img
{
    width: 100%;
}

.all-post-title
{
    font-weight: bold;
    font-size: 14px;
}

.all-post-content{

    padding-top: 10px;
}
.all-post-content label
{
    text-indent: 20px;
    font-size: 12px;
    font-weight: normal;
}

.sign-in
{
    margin-bottom: 50px;

}

.sign-in .si-form
{

}
.sign-in .si-form .head
{
    text-align: center;
    background: #97ce68;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px 0;
}
.sign-in .si-form .head .title
{
    color: white;
}
.si-form .main
{

    padding: 15px 0;
    width: 200px;
    margin: 0 auto;
}
.si-form .main .input-group
{
    margin-bottom: 15px;
}
.si-form .button
{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #edede4;
    padding: 15px 0;

}

.si-form .btn-signIN
{
    width: 200px;
    margin: 0 auto;



}
.si-form .btn-signIN input
{
    width: 100%;
    background-color: #d9534f;
}

.sidebar-user .head 
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #97ce68;
    padding: 10px 0;
    text-align: center;
}
.sidebar-user .head .image
{
    width: 100px;
    margin: 0 auto;
}
.sidebar-user .head .image img
{
    width: 100px;
    height: 100px;
}
.sidebar-user .head .info
{
    padding-top: 10px;
}
.sidebar-user .head .info .name
{
    color: white;
    font-size: 20px;
}
.sidebar-user .head .info .follow
{
    color: white;
    font-size: 14px;
    font-weight: normal;
}
.sidebar-user .head .info
{

}

.user label.text, .user label.checkbox
{
    float: right;
    line-height: 34px;
}

.user label.private
{
    font-weight: normal;
    font-size: 12px;
    color: #8d8d8d;
}

.user .panel-body .row
{
    padding-bottom: 10px;
}
.btn-signUP
{
    width: 128px;
    margin: 0 auto;
}
.fruit
{
    position: absolute;   
    right: 1%;
    z-index: 2;
    top: -90px;
}
.fruit img
{
    width: 100%;

}
.post
{
    width: 500px;
}
.post .form-group
{
    padding-bottom: 10px;
}

.post h3{
    text-decoration: underline;
}

/*
.sidebar-user .main a:last-child{
    background: #fa8080;
    color: white;
}
.sidebar-user .main a:last-child:hover{
    background: #fe3434;
    color: white;
}
*/
.upload
{
    padding-bottom: 20px;
}

.favorites
{

}

.friend-first 
{
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    background: white;
    padding: 20px 0;
}

.friend-first .image
{
    width: 125px;

    margin: 0 auto;
}
.friend-first .image img
{ 
    width: 100%;
}
.favorites .info .title
{
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    font-weight: bold;
   display: block;
   text-decoration: none;
   padding-bottom: 20px;
}
.favorites .info .btn
{
    text-align: center;
    display: block;
    width: 150px;
    margin: 0 auto;
    
}

.post-top-like
{
    background: #b4ffa5;
    padding: 10px 0;
    margin-bottom: 1px;
    border-radius: 10px;
    position: relative;
}
.top-ribbon
{
    position: absolute;
    z-index: 2;
    right: 2%;
    top: -13%;
    width: 80px;
    height: 114px;
    background: url("images/post/like-ribbon.png");
    background-size: 80px 114px;
}
.top-ribbon .layout{
    
    padding-top: 20px;
}

.top-ribbon .layout p
{
        margin-left: -8px;
       text-align: center;
       font-weight: bold;
       margin-bottom: 0;
}

.top-ribbon .layout .amount-like {

       color: red;
       font-size: 16px;
       font-family: fantasy;
       font-weight: normal;
    
}
.top-ribbon .layout .text-like 
{
    
    font-size: 12px;
    color: blue;
        
    
}
.single-post
{
    
}

.single-post .layout
{
    
}
.single-post .title
{
    color: #008003;
    border-bottom: 3px solid #ff6666;
    margin-bottom: 30px;
}

.single-post .title .info
{
    color:#7c7c7c;
    font-size: 14px;
    margin-bottom: 5px;
       
}

.single-post .title .info span.glyphicon
{
    margin-right: 10px;
}
.single-post .title .info span.text
{
   margin-right: 10px;
}
.single-post .img
{
    padding-bottom: 50px;
    
}
.single-post .img img
{
   width: 50%;
    
}
.single-post .descripyion
{
    margin-bottom: 60px;
    width: 90%;
}
.single-post .descripyion p
{
    text-indent: 50px;
}

.single-post .name
{
    font-size: 25px;
}
.single-post .author
{
    border-radius: 5px;
    border: 2px solid #dddddd;
    padding: 25px 0;
    margin-bottom: 30px;
}
.single-post .author .layout
{
    width: 700px;
    margin: 0 auto;
}
.single-post .author img
{
    width: 100%;
}
.single-post .author .img-layout
{

}
.single-post .author .layout span
{
    margin-right: 20px;
}

.author .private
{
   opacity: 0.5;
}
.author .sex,.author .email,.author .addres,.author .tel,.author .birthday
{
    font-weight: bold;
}

.comment .panel-body{
    
}

.comment .main{
    
}
.comment .user-comment .image
{
    width: 100px;
    margin: 0 auto;
}
.comment .user-comment .image img
{
    width: 100%;
}
.comment .info-comment
{
    height: 18px;
    position: relative;
    margin-bottom: 10px;
}
.comment .info-comment p
{
    position: absolute;
    font-size: 14px;
    color: #bfbfbf;
    font-weight: bold;
}

.comment .info-comment .name
{
    left: 0%;
    
    
}
.comment .info-comment .date
{
    right: 0%;
   
}