#side-menu
{
   
}
.admin-menu
{
    padding-top: 50px ;
}

.admin-logo
{
    padding: 30px 0;
     background: #f7f7f7;
    
     
}

.admin-logo .img
{
    width: 150px;
    margin: 0 auto;
}
.admin-logo .img img
{
    width: 100%;
}



.list-group-item {

  background-color: #f7f7f7;
  border: 1px solid #ebebeb;
}




a.list-group-item {
  color: #555555;
}

a.list-group-item .list-group-item-heading {
  color: #333333;
}

a.list-group-item:hover,
a.list-group-item:focus {
  text-decoration: none;
  background-color: #ffffff;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading {
  color: inherit;
}

.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
  color: #e1edf7;
}

.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
}

.admin-users
{
    padding: 50px 0;
}

table.table tr,table.table th
{
    text-align: center;
}
.button-insert
{
    text-align: center;
}
.user .panel .row
{
    padding-bottom: 15px;
}